@font-face {
  font-family: 'Outfit, sans-serif';
  src: url(/fonts/Outfit/static/Outfit-Regular.ttf); /* IE9 Compat Modes */
}

* {
  font-family: 'Outfit, sans-serif' !important;
}

input:focus {
  border-color: #746200;
}

.tiptap .ProseMirror:focus {
  border-color: #746200;
}

div[contenteditable="true"] {
  min-height: 160px !important;
}

.mantine-RichTextEditor-content {
  border-radius: 22px !important;
  background-color: #f1f4f5 !important;
}

/*p[data-placeholder="Masukkan catatan"] {*/
/*  font-size: 14px !important;*/
/*}*/

p[data-placeholder] {
  font-size: 14px !important;
}

.mantine-RichTextEditor-root {
  border: none !important;
}

button[data-active="true"] {
  color: #746200;
}

.mantine-RichTextEditor-toolbar {
  padding: 8px 0 !important;
  border: none !important;
}
